*{
    font-family: "Mulish", sans-serif;
}
:root{
    --bg: #c9e498;
    --txt-cls: 	#53cf1d;
}
.light-gray{
    color: rgba(19, 19, 24, 0.70);
}
.bl-txt{
    color: rgba(0, 0, 0, 0.821);
}
.txt-clr{
    color: #32c621;
}
.pri-btn{
    color: white;
    padding:20px ;
    border: none;
    border-radius: 10px;
    
    font-weight: 800;
    font-size: 1.3rem;
    background-color: var(--txt-cls);
}
.pri-btn:hover{
    color: #060a87;
    background-color: rgba(0, 255, 255, 0.228);
    border: 2px #0c06b8 solid;
}
header{
    margin: 30px 100px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo h1{
    font-weight: 1000;
    font-size: 2.5rem;
    
}
.logo h1 span{
    color: var(--txt-cls);
}
#check{
    display: none;
}

.menu-bar{
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    top: 0;
    right: 0;
}
.menu-bar #close-icon{
    display: none;
    font-size: 1.8rem;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    padding-right: 50px;
    list-style: none;
}
.menu li a{
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
}
.banner{
    background:  linear-gradient(rgba(0, 0, 0, 0.621), rgba(255, 246, 246, 0)),  url("images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.banner-txt{
    color: white;
    text-align: center;
}
.bg-banner h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 800;
}
.banner-txt .p{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 800;
}
.banner-input{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.38);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.banner-input input{
    
    padding: 20px;
    border: none;
    border-radius: 10px;
}
.banner-input input::placeholder{
    font-size: 1.3rem;
}
.banner-input select{
    font-size: 1.3rem ;
    padding: 14px;
    color: rgba(19, 19, 24, 0.70);
    width: 100%;
    border: none;
    border-radius: 10px;
}
.banner-input button{
    color: white;
    padding:14px ;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: 800;
    font-size: 1.3rem;
    background-color: var(--txt-cls);
}
main{
    margin: 50px 100px;
}
.pop-tr{
    display: flex;
    gap: 50px;
    align-items: center;
}
.pop-txt h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.pop-txt p, li{
    color: rgba(19, 19, 24, 0.70) ;
}
.victor{
    margin: 100px 0;
    height: 500px;
    background: linear-gradient( to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),  url("images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  .vic-txt{
    color: white;
    padding-left: 50px;
    
  }
  .vic-txt > h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: .7;
  }
  .vic-txt h2 span{
    font-size: 2rem;
    font-weight: 900;
    color: #32c621;
  }
  .vic-txt > p{
    font-size: 1rem;
    font-weight: 200;
  }
  .vic-img > img{
   max-height: 300px;
   /* width: 70%; */
   padding-right: 50px;
  }

  .chose{
            
    margin: 0 auto;
}
.chose-txt{
    width: 100%;
    text-align: center;
}
.chose-grid{
    margin: 2rem 0;
    width: auto;
    display: grid;
    gap: 1.2rem;
    grid-template-areas: 
    "grid1 grid1 grid1 grid2 grid2 grid2"
    "grid3 grid3 grid4 grid4 grid5 grid5"
    "grid6 grid6 grid7 grid7 grid7 grid7"
    ;
}

.img-rel{
    width: 100%;
    height: 280PX;
    position: relative;
}
.img-rel img{
    width: 100%;
    height: 100%;
}
.txt-ab{
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.grid1{
    grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    grid-area: grid4;
}
.grid5{
    grid-area: grid5;
}
.grid6{
    grid-area: grid6;
}
.grid7{
    grid-area: grid7;
}
.why-us{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why-txt{
    width: 60%;
    text-align: center;
}
.why-txt h1{
    font-size: 2rem;
    font-weight: 900;
}
.why-card-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 40px 0;
}
.why-card{
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}
.why-card h2{
    font-weight: 800;
}
.w-box-1{
    border: 1px solid #b3ec48fb;
    background-color: #cfff7546;
}
.w-box-2{
    border: 1px solid #48aaecfb;
    background-color: #75cfff1b;
}
.w-box-3{
    border: 1px solid #ec489dfb;
    background-color: #f875ff2a;
}
.deal{
    margin-top: 100px;
   
}
.deal-txt{
    text-align: center;
    padding-bottom: 10PX;
}
.deal-txt h1{
    font-size: 2rem;
    font-weight: 900;
}

.deal-box{

    margin: 20px 0;
    height: 500px;
    background: url("images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.deal-subox{
    background-color: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(10px);
    margin: 0 20px;
    padding: 50px;
    border: 2px white solid;
    border-radius: 10px;
}
.deal-det{
    display: flex;
    gap: 30px;
}
.deal-det i{
    font-size: 1.3rem;
    font-weight: 900;
    padding-right: 10px;
    color: #118a03;
}
.deal-subox h1{
    font-size: 2rem;
    font-weight: 900;
}
.price{
    font-weight: 900;
    color: #118a03;
}
.see-btn{
    display: flex;
    justify-content: center;
}
.get-lst{
    margin: 50px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}
.get-txt h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.get-txt p, li{
    color: rgba(19, 19, 24, 0.70) ;
}
.get-img{
    position: relative;
}
.get-ab{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.newsletter{
   
    margin: 100px 0;
    gap: 50PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-form{
    height: 100%;
    padding: 40px;
    border: 2px solid #32c621;
    border-radius: 10px;
}
.news-form h1{
    font-size: 2.5rem;
    font-weight: 900;
}

.news-form input{
    width: 90%;
    margin: 5px 0;
    padding: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.198);
    border-radius: 10px;
}
.news-form input::placeholder{
    padding: 0 20px;
    color: rgb(50, 50, 50);
    font-size: 1.2rem;
}
.news-form button{
    margin-top: 5px ;
    width: calc(100% + 10PX);
}
.news-img{
    position: relative;
}
.save-tag{
    padding: 10px 60px;
    padding-bottom: 0;
    position: absolute;
    right: 20px;
    bottom: 60px;
    text-align: center;
    line-height: .3;
    background-color: #3aba2c4e;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transform: rotate(-20deg);
}
.save-tag p{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

}
.save-tag h5{
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
}
.footer{
    background-color: rgba(128, 128, 128, 0.076);
    padding:50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-foot{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-foot h1{
    font-weight: 1000;
    font-size: 2.5rem;
}
.logo-foot h1 span{
    color: var(--txt-cls);
}
.foot-txt{
    width: 90%;
}
.foot-icon{
    padding: 20PX 0;
    font-size: 2rem;
}
.foot-icon i{
    padding: 10px;
}
.hr{
    width: 100%;
}
.copy-r{
    padding: 20px;
}



/* responsive */
/* mobile */
@media screen and ( max-width: 576px) {
    header{
        margin: 20px 10px;
    }
    .logo{
        padding-left: 20px;
        font-size: 1rem;
    }
    .logo img{
        height: 2rem;
    }
    .logo h1{
        font-size: 2rem;
        
    }
    nav{
        display: block;
        position: relative;
    }
    #check:checked~.menu-bar #menu-icon{
        display: none;
    }
    #check:checked~.menu-bar #close-icon{
        display: block;
    }
    .menu-bar{
        display: inline-flex;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
    }

    .menu{
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #00000015;
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .5);border-radius: 0 0 20px 20px;
        transition: .3s ease-out;
    }
    #check:checked~.menu {
        height: 22rem;
    }
    .menu ul{
        display: block;
    }
    .menu li{
        text-align: center;
        margin: 2rem 0;
    }
    .menu li a{
        font-size: 1.5rem;
    }
    .banner-input{
    grid-template-columns: 1fr;
    margin: 30px;
    }

    .banner-input input{
        width: 87%;
    }
    main{
        margin: 20px;
    }
    .pop-tr{
        flex-direction: column;
    }
    .pop-img{
        display: flex;
        justify-content: center;
    }
    .pop-img img{
        display: block;
        width: 100%;
    }
    .chose-txt p{
        padding: 0 50px;
     }
    .chose-grid{
        margin: 20px;
        grid-template-areas: 
        "grid1"
        "grid2"
        "grid3"
        "grid4"
        "grid5"
        "grid6"
        "grid7"
        ;
    }
    .why-us{
        margin: 0 20px;
    }
    .why-txt{
        width: 90%;
    }
    .why-card-flex{
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }
    .why-card{
        width: 300px;
    }
    .newsletter{
        flex-direction: column;
    }
    .news-form button{
        width: 100%;
        
    }
    .news-img img{
        width: 100%;
    }
    .save-tag{
        line-height: .3;
        padding: 5px 40px;
        padding-bottom: 0;
    }
    .footer{
        padding: 50px 40px;
    }
    .deal-box{
        height: 700px;
    }
    .deal-det{
        flex-wrap: wrap;
    }
    .get-lst{
        flex-direction: column;
    }
    .get-img img{
        width: 100%;
    }
    .victor{
        flex-direction: column;
        height: 400px;
    }
    .vic-img{
        display: none;
    }
}
